{% extends 'hyperborea/layout.html' %}

{% block title %}Spells{% endblock %}

{% load static %}

{% block body %}
<div class="container">
    <h1 class="text-center page-header">Spells of Hyperborea</h1>
    <form action="/" method="post" id="spell-form">
        {% csrf_token %}
        <div class="row">
            <div class="col-12 col-sm-4 text-center">
                <label for="spellbook-filter">Scope:</label><br>
                <select name="spellbook-filter" id="spellbook-filter">
                    <option value="all">All Spells</option>
                    <option value="spellbook">My Spellbook</option>
                </select>
            </div>
            <div class="col-12 col-sm-4 text-center">
                <label for="class">Class:</label><br>
                <select name="class" id="class">
                    <option value="all">All Classes</option>
                    {% for class in class_list %}
                        {% if selected_character_class.name == class.name %}
                            <option value="{{class.pk}}" selected="selected">{{class.name}}</option>
                        {% else %}
                            <option value="{{class.pk}}">{{class.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div> 
            <div class="col-12 col-sm-4 text-center">
                <label for="level">Level:</label><br>
                <select name="level" id="level">
                    <option value="all">All Levels</option>
                    {% for level in levels %}
                        {% if selected_level == level %}
                            <option value="{{level}}" selected="selected">{{level}}</option>
                        {% else %}
                            <option value="{{level}}">{{level}}</option>
                        {% endif %}
                   {% endfor %}
                </select>
            </div>   
        </div>
    </form>
    <uL class="spell-list text-center">
        {% for spell in spell_list %}
            <li>{{ spell.spell_name }}</li>
        {% endfor %}
    </uL>
</div>

<!-- level = models.PositiveIntegerField(validators=[MinValueValidator(1), MaxValueValidator(6)],null=True)
character_class = models.ForeignKey(CharacterClass, on_delete=models.CASCADE, related_name="character_class_spell_list_item", null=True)
spell = models.ForeignKey(Spell, on_delete=models.CASCADE, related_name="spell_spell_list_item", null=True) -->



<script src="{% static 'hyperborea/script/main.js' %}" defer></script>
{% endblock %}