{% extends 'hyperborea/layout.html' %}

{% block title %}Spells{% endblock %}

{% block body %}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Range</th>
            <th>Duration</th>
            <th>Saving Throw</th>
            <th>Page</th>
        </tr>
    </thead>
    <tbody>
        {% for spell in spells %}
            <tr>
                <td>{{ spell.name }}</td>
                <td>{{ spell.description|safe }}</td>
                <td>{{ spell.range }}</td>
                <td>{{ spell.duration }}</td>
                <td>{{ spell.saving_throw }}</td>
                <td>{{ spell.page }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}