{% extends 'hyperborea/layout.html' %}

{% block title %}Spells{% endblock %}

{% load static %}

{% block body %}
<div class="container">
    <h1 class="text-center page-header">Spells of Hyperborea</h1>
    <form action="get-spells" method="post" id="spell-form">
        {% csrf_token %}
        <div class="row">
            <div class="col-12 col-sm-4 text-center">
                <label for="spellbook-filter">Scope:</label><br>
                <select name="spellbook-filter" id="spellbook-filter">
                    <option value="all">All Spells</option>
                    <option value="spellbook">My Spellbook</option>
                </select>
            </div>
            <div class="col-12 col-sm-4 text-center">
                <label for="class">Class:</label><br>
                <select name="class" id="class">
                    <option value="all">All Classes</option>

                    {% for class in class_list %}
                        <option value="{{class.name}}">{{class.name}}</option>
                    {% endfor %}

                </select>
            </div> 
            <div class="col-12 col-sm-4 text-center">
                <label for="level">Level:</label><br>
                <select name="level" id="level">
                    <option value="all">All Levels</option>

                    {% for level in levels %}
                        <option value="{{level}}">{{level}}</option>
                    {% endfor %}
                </select>
            </div>   
        </div>
    </form>
</div>
<script src="{% static 'hyperborea/script/main.js' %}" defer></script>




<!--
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Range</th>
            <th>Duration</th>
            <th>Saving Throw</th>
            <th>Page</th>
        </tr>
    </thead>
    <tbody>
        {% for spell in spells %}
            <tr>
                <td>{{ spell.name }}</td>
                <td>{{ spell.description|safe }}</td>
                <td>{{ spell.range }}</td>
                <td>{{ spell.duration }}</td>
                <td>{{ spell.saving_throw }}</td>
                <td>{{ spell.page }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
-->
{% endblock %}