body {
    background-color: #b7f5e5;
    color: #000;
    font-family: 'Special Elite', serif;
    font-size: 18px;
}

body p {
    margin-top: 0;
}

td, th {
    vertical-align: top;
}

.page-header {
    margin: 0 0 15px 0;
    padding: 15px;
    background-color: #000;
    color: #b7f5e5;
}

.spell-list {
    list-style-type: none;
    margin: 15px 0;
}

h3 {
    text-align: center;
    margin: 15px 0;
}