body {
    background-color: #b7f5e5;
    color: #000 !important;
    font-family: 'Special Elite', serif;
    font-size: 18px;
}

a {
    color: #000 !important;
    text-decoration: none !important;
}

body p {
    margin-top: 0;
}

td, th {
    vertical-align: top;
}

.page-header {
    margin: 0 0 15px 0;
    padding: 15px;
    background-color: #000;
    color: #b7f5e5;
}

.spell-list {
    list-style-type: none;
    margin: 15px 0;
    padding: 0;
}

.spell-list li {
    margin: 15px 0;
}

.spell-list li a {
    display: block;
}

.spellbook-toggle-container {
    text-align: center;
    padding: 0 0 15px 0;
}

.spellbook-toggle-container a {
    font-size: 14px;
    color: #fff !important;
}

h3 {
    text-align: center;
    margin: 15px 0;
}

select {
    text-align: center;
}

#spell_modal .modal-content {
    background-color: #F8F5E1;
}